<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @server.name %><br />
  <b>Status:</b>
  <%= @server.status %>
</p>


<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>
